<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Zipcode</th>
      <th>Prefecture</th>
      <th>Address prefecture</th>
      <th>Address city</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Company name</th>
      <th>Company name kana</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Note</th>
      <th>Del flg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.zipcode %></td>
        <td><%= customer.prefecture_id %></td>
        <td><%= customer.address_prefecture %></td>
        <td><%= customer.address_city %></td>
        <td><%= customer.address_1 %></td>
        <td><%= customer.address_2 %></td>
        <td><%= customer.company_name %></td>
        <td><%= customer.company_name_kana %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.fax %></td>
        <td><%= customer.note %></td>
        <td><%= customer.del_flg %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
